/* .meals {
    max-width: 60rem;
    width: 20%;
    flex-direction: row;
    margin: 2rem auto;
    animation: meals-appear 1s ease-out forwards;
    display: flex;
    flex-wrap: wrap;

    } */
    
    .meals ul {
    list-style: none;
    margin-bottom: 2rem;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    
    .meals ul li {
    flex-basis: calc(33.33% - 1rem);
    margin-bottom: 2rem;
    border: 1px solid orangered;
    padding: 2rem;
    border-radius: 15px;
    }
    
    .MealsLoading {
    text-align: center;
    color: white;
    }
    
    .MealsError {
    text-align: center;
    color: red;
    }
    
    @keyframes meals-appear {
    from {
    opacity: 0;
    transform: translateY(3rem);
    }
    to {
    opacity: 1;
    transform: translateY(0);
    }
    }