.form {
    text-align: right;
}

.form button {
    font: inherit;
    font-size: small;
    cursor: pointer;
    background-color: #fb6108;
    border: 1px solid white;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    font-weight: bold;
}

.form button:hover,
.form button:active {
    background-color: #641e03;
    border-color: #641e03;
}