
.otpContainer {
  display: flex;
  justify-content: center;
  width: 50%;
  align-items: center;
  text-align: center;
  flex-direction:row;
  margin: auto;
  
}

.otpInput {
  font-size: 10px;
  text-align: center;
  margin: 0 5px;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  
}

#verify {
  background-color: #fb6108;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin: auto; /* Center the button */
}

#verify:hover {
  background-color: #0056b3;
}

p {
  font-style: italic;
  text-align: center;
}

.primary:hover {
  background-color: #aca2e4;
}

  
  