form1 {
    display:flex;
    align-items: center;
    width: 100%;
  }
  
  input[type="text"] {
    padding: 0.5rem;
    border: none;
    width: 80%;
    border-radius: 0.35rem;
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    flex: 1;
  }
  
  button[type="submit"] {
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #fb6108;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
  }