.start-page-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* background-color: rgba(120, 129, 211, 0.63); */
    background-color: #FFA500;
    /* margin-top: 80px; */
    /* transform: rotateZ(5deg) translateY(-4rem) translateX(-1rem); */
  }
  
  #main {
    max-width: 50%;
    height: auto;
    margin-top: 80px;
    
  }

  /* StartPage.css */
.start-page-container {
    text-align: center; /* Center the content */
  }
  
  .images-row {
    display: flex;
    justify-content:space-between; /* Adjust this to control spacing between images */
    margin-top:20px; /* Add some margin for spacing */
  }
  
  
  .get-started-btn {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #fb6108;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .get-started-btn:hover {
    background-color: rgba(120, 129, 211, 0.63);;
  }
  
 
@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: scale(0.9);
    }
    50% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0.9);
    }
  }
  
  .start-page-container {
    text-align: center;
  }
  
  #main {
    animation: fadeIn 6s ease-in-out infinite; /* Adjust the duration and easing function as needed */
  }
  
  .get-started-btn {
    margin-top: 20px;
  }
  
  .images-row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  p{
    font-size: 30px;
    margin-top: 5px;
    justify-content: space-between;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    
  }

